body{
    background-color: #c2c2a3;
}
a:visited{
    color: black;
}
a:hover{
    color: gray;
}
img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  video{
      border-style:inset;
      border-radius:100px;  
  }
p{
    color:black;
    font-family:Tahoma;
}
h1{
    color:black;
    font-family:tahoma;
    background-color: #ccccb3;
    border-color: blanchedalmond;
    border-style: inset;
    border-radius: 1000px;

    margin-left:50px;
    margin-right:100px;
    
}
h2{
    text-align: center;
    font-size: 30px;
    color:black;
    font-family:tahoma;

    border-style:inset;
    border-radius:100px;
}
li{
    color:black;
    font-family:tahoma;
}
.div2{
    background-color:#d9d9d9;
    border-radius: 20px;
}
.h2c1{
    color: black;
    
}
.class2{
    border-radius: 20px;
}
.psize1{
    color: black;
    font-size: 18px;
    font-family: Tahoma;   
}
.table1,.div3{
    background-color:#d9d9d9;
    border-radius: 20px;
}
.h21{
    padding-bottom: 50px;
}
.img1{
    border-style: solid;
    border-radius: 1000px;
}

#cent{
    margin-left:auto; 
    
}
hr{
    border-style: groove;
    padding: 20px;
    border-radius: 75px;
    background-color: #999966
}
.table2{
    background-color:#d9d9d9;
    border-style: solid;
    border-radius: 20px;

}
th{
    font-family:tahoma;
}


